spring:
  application:
    name: collector

kafka:
  bootstrap-servers: localhost:9092
  topics:
    user-actions: stats.user-actions.v1

grpc:
  server:
    port: 0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

