spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      server:
        webflux:
          routes:
                  - id: user-service
                    uri: lb://user-service
                    predicates:
                      - Path=/admin/users/**

                  - id: request-service
                    uri: lb://request-service
                    predicates:
                      - Path=/users/*/requests/**,/requests/**,/users/*/events/*/requests/**

                  - id: comment-service.yaml
                    uri: lb://comment-service
                    predicates:
                      - Path=/comments/**

                  - id: event-service
                    uri: lb://event-service
                    predicates:
                      - Path=/admin/**,/categories/**,/compilations/**,/events/**,/users/**

                  - id: stats
                    uri: lb://stats-server
                    predicates:
                      - Path=/hit/**,/stats/**

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG
    reactor.netty.http.server: DEBUG

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
