services:
  main-db:
      image: postgres:16.1
      container_name: main-db
      ports:
        - "5434:5432"
      environment:
        - POSTGRES_PASSWORD=100
        - POSTGRES_USER=admin
        - POSTGRES_DB=main-db

  stats-db:
    image: postgres:16.1
    container_name: stats-db
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=100
      - POSTGRES_USER=admin
      - POSTGRES_DB=stats-db

  user-service-db:
    image: postgres:16.1
    container_name: user-service-db
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=user
      - POSTGRES_DB=user-service-db
