services:
  postgres:
    image: postgres:16.1
    container_name: exploreWithMeDB
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data/
      - ./init-databases.sql:/docker-entrypoint-initdb.d/init-databases.sql
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

volumes:
  postgres-data: